body{
    background-color: rgb(12, 12, 52);
    color: orange;
}
#header{
    text-align: center;
    font-weight: bold;
    border-bottom: solid 1px orange;
}
img{
    margin-left: 200px;
    padding: 50px;
}
.sectionA {
    border-top:solid 1px orange;
    text-align: center;
    color: white;
}
div h3{
    display: flexbox;
    text-align: center;
}
.sectionA h4{
    font-size: large;
    font-weight: thick;
}
.sectionA ul li{
    display:flexbox;
    list-style: none;
    padding: none;
}
.sectionA ul li a{
    color: rgb(177, 255, 21);
}
a{
    color:aquamarine;
}
